@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-darker: rgb(9, 48, 56);
}

.bod{
  background-color:  rgba(95, 158, 160, 0);
}
@media(min-width:580px){
  .bod{
    width: 980px;
    padding: 90px 30px;
    margin: 0 auto;
    display: block;


  }  
}
@media(max-width:410px) {
  .bod {
    width: 410px;
    display: block;
    min-width: 50%;
  }
}
@media(min-width:580px){
  .relogio {
    margin: 1px 0px 40px 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2vw;
  

  }  
}
@media(max-width:410px) {
  .relogio {
    margin: 1px 0px 40px 1px;

    width: 410px;
    font-size: 5vw;
    text-align: center;

    min-width: 50%;
  }
}

.cotacao {
  display: grid;
  grid-template-columns: 350px 90px 250px;
  grid-gap: 100px;
  overflow: hidden;
  background: rgba(172, 172, 172, 0);
}

@media (min-width:580px){
  .cotacao {
    width: 980px;
    height: 120px;
    /* padding: 0 30px; */

  }
}
@media (max-width:380px){
.cotacao{
  align-content: center;
  overflow: visible;
  grid-template-columns: 50px 0px 0px;
  grid-gap: 90px;
  min-width: 50%;
}
}
.cota{
  align-items: center;
  align-content: center;
}

@media (min-width:580px){
  .cota {
    width: 100%;

  }
}
@media (max-width:410px){
.cota{
  height: 120px;
  /* border: 3px solid; */
  width:100%;
  min-width: 50%;
}
}

.dolas{
  display: block;
  width: 780px;
  overflow: hidden;
}
.dolas li {
  width: 60px;
  height: 40px;
  background-color: rgba(184, 1, 1, 0);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 1s infinite alternate;
  z-index:-1
}

@keyframes up {
  from {
    /* opacity: 90; */
    transform: translateY(100);
  }
  75% {
    opacity: 0.1;
  }
  to {
    transform: translateY(-980px) rotate(780deg);
  }
}
  
@media (min-width : 330px) {
  .dolas {
      width: 330px;
      overflow: hidden;
  
  
  }
}

#nreal { 
  width: 340px;
  height: 90px;

  border: none;
  background: rgba(72, 255, 0, 0.33);
  border-radius: 5%;
  font-size: 4vw;
}
@media(min-width:580px){
  #nreal{
    background: rgba(242, 255, 0, 0.33);
  }
}
@media(max-width:410px){
  #nreal{
    /* border: 4px solid; */
    width: 60px;
    min-width: 40%;
  font-size: 9vw;

  }
}


  .usd {
    width: 340px;
    height: 90px;
    border: none;
    background: rgba(242, 255, 0, 0.33);
    font-size: 4vw;
  
    }
    @media(min-width:580px){
      .usd{
        background: rgba(242, 255, 0, 0.33);
      }
    }
    @media(max-width:410px){
     .usd{
        width: 60px;
        min-width: 40%;
      font-size: 9vw;
      }
    }

    #a1{
      width: 340px;
      overflow: hidden;
    }
    #a2{
      width: 90px;
      height: 90px;
      overflow: hidden;
    }
    #a3{
      width: 340px;

      overflow: hidden;
    }