@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 740px;
  margin: 120px auto;
  background: rgba(172, 172, 172, 0.412);
  padding: 50px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
@media (max-width:380px){

}


.dolas li {
  width: 60px;
  height: 40px;
  background-color: rgba(184, 1, 1, 0);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 1s infinite alternate;
  z-index:-1
}

@keyframes up {
  from {
    /* opacity: 90; */
    transform: translateY(100);
  }
  75% {
    opacity: 0.1;
  }
  to {
    transform: translateY(-1800px) rotate(780deg);
  }
}
  
@media (min-width : 330px) {
  .li {
      width: 330px;
      overflow: hidden;
  
  
  }
}
#medaLib {
  margin: -32px 7px;
}
.nreal {
  width: 120px;
  border: none;
  background: rgba(255, 255, 255, 0.535);
  font-size: 5vw;
}
.ndola {
  width: 120px;
  border: none;
  background: rgba(255, 255, 255, 0.535);
  font-size: 5vw;
}
#c3 {
  margin: 20px;
  text-align: right;
}