@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

.bod{
  background-color:  rgba(95, 158, 160, 0);
}
@media(min-width:580px){
  .bod{
    width: 980px;
    padding: 90px 30px;
    margin: 0 auto;
    display: block;


  }  
}
@media(max-width:410px) {
  .bod {
    width: 410px;
    display: block;
    min-width: 50%;
  }
}
@media(min-width:580px){
  .relogio {
    margin: 1px 0px 40px 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2vw;
  

  }  
}
@media(max-width:410px) {
  .relogio {
    margin: 1px 0px 40px 1px;

    width: 410px;
    font-size: 5vw;
    text-align: center;

    min-width: 50%;
  }
}

.cotacao {
  display: flex;
  background: rgba(172, 172, 172, 0.412);
  padding: 50px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

@media (min-width:580px){
  .cotacao {
    width: 720px;
    padding: 0 30px;
    margin: 0 auto;

  }
}
@media (max-width:410px){
.cotacao{
  min-width: 50%;
}
}


.dolas li {
  width: 60px;
  height: 40px;
  background-color: rgba(184, 1, 1, 0);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 1s infinite alternate;
  z-index:-1
}

@keyframes up {
  from {
    /* opacity: 90; */
    transform: translateY(100);
  }
  75% {
    opacity: 0.1;
  }
  to {
    transform: translateY(-1800px) rotate(780deg);
  }
}
  
@media (min-width : 330px) {
  .dolas {
      width: 330px;
      overflow: hidden;
  
  
  }
}
/* #medaLib {
  font-size: 0%;
  margin: -40px 60px;
}
@media(min-width:380){
  #medalib{

  }
}
@media(max-width:410){
  #medalib{
    min-width: 50%;
  }
} */
#nreal {
  width: 120px;

  border: none;
  background: rgba(242, 255, 0, 0.33);
  font-size: 3vw;
}

@media(min-width:680){
  #nreal{

    color: aqua;
  }
}
@media(max-width:410){
  #nreal{
font-size: 5vw;    
    min-width: 50%;
  }
}
#ndola {
  width: 70px;
  border: none;
  background: rgba(242, 255, 0, 0.33);
  font-size: 3vw;
}

#c3 {
  
  margin: 0px;
  font-size: 3vw;
  font-family: 'dosis', sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: rgb(106, 0, 255);

  color:rgb(0, 0, 0)
}
#a1{
  width:240px;
  float:left;
 

}
@media(min-width:680){
  #a1{
    border: 2PX solid;

    
  }
}
@media(max-width:410){
  #a1 {
    border: 2PX solid;

    width: 100%;
    
    min-width: 50%;
  }
}
#a2{
  width:200px;
 float:none;
 margin: -35px 30px;

}
@media(min-width:680){
  #a2 {
    border: 2PX solid;

    
  }
}
@media(max-width:410){
  #a2{
    border: 2PX solid;

    width: 100%;
    
    min-width: 50%;
  }
}
#a3{
  width: 220px;
  float:right
}
@media(min-width:680){
  #a3{
    float: right;
    border: 2PX solid;

    margin: -32px 7px;
    
  }
}
@media(max-width:410){
  #a3{
    border: 2PX solid;

    width: 100%;
    
    min-width: 50%;
  }
}